.tabs
  .tabs-header
    .border
    ul
      li.active: a(href='#tab-1'
                   tab-id='1'
                   ripple
                   ripple-color='#FFF') Text
      li: a(href='#tab-2'
            tab-id='2'
            ripple
            ripple-color='#FFF') Image
      li: a(href='#tab-3'
            tab-id='3'
            ripple
            ripple-color='#FFF') Links
  .tabs-content
    .tab.active(tab-id='1')
      textarea#textbox(name="textbox" placeholder="Text Here" class="textbox")
      
    .tab.no-pad(tab-id='2')
      iframe(src="https://apps.clarkhacks.com/any-image/#Clark-App", frameborder="0")
      
    .tab(tab-id='3')
      .row
        .four.columns
          a.button.button-app(href="https://github.com/")
            i.fa.fa-github
            | Github
        .four.columns
          a.button.button-app(href="https://clarkhacks.com/")
            i.fa.fa-globe
            | ClarkHacks.com
        .four.columns
          a.button.button-app(href="https://reddit.com/")
            i.fa.fa-reddit-alien
            | Reddit
      .row
        .four.columns
          a.button.button-app(href="https://imgur.com/")
            i.fa.fa-info
            | Imgur
        .four.columns
          a.button.button-app(href="https://cdn.clarkhacks.com/")
            i.fa.fa-file
            | CDN
        .four.columns
          a.button.button-app(href="https://news.ycombinator.com/")
            i.fa.fa-hacker-news
            | Hacker News
      .row
        .four.columns
          a.button.button-app(href="https://www.google.com/search?q=weather")
            i.fa.fa-snowflake-o
            | Weather
        .four.columns
          a.button.button-app(href="https://facebook.com")
            i.fa.fa-facebook
            | Facebook
        .four.columns
          a.button.button-app(href="https://codepen.io")
            i.fa.fa-codepen
            |Code Pen